.primary,
.primary-alt,
.secondary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;

    border: none;
    padding: 10px 14px;
    border-radius: 5px;
}

.primary {
    background: #005BFE;
}

.primary:hover{
    background: #0047C6;
}

.primary-alt {
    background: #F81155;
}

.primary-alt:hover {
    background: #D1003E;
}

.secondary {
    background: rgba(0, 0, 0, 0);
    color: #005BFE;
}

.secondary:hover{
    color: #005BFE;
    background: rgb(206, 216, 231);
}