
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;

    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease 0s;
}

.modal.modal--show {
    opacity: 1;
    visibility: visible;
}

.modal.modal--show .modal__body{
    opacity: 1;
    transform: translate(0, 0);
}

.modal__body {
    position: fixed;
    width: 300px;
    /*min-height: 100%;*/
    height: 100%;

    top: 0;
    left: 0;
    padding: 0 20px;

    background-color: white;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/

    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: red solid 1px;

    transition: all 0.3s ease 0s;
    opacity: 0;
    transform: translate(-100%, 0);
}

.modal__header {
    /*position: relative;*/
    border: 1px solid green;
    width: 100%;
    height: 70px;
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    align-items: center;

}

.modal__title {
    font-size: 20px;
    margin-bottom: 10px;
}

.modal__close {
    /*position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;*/
}



.modal__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 14px;

    border: 1px solid orange;
}

/*.modal__label {
    margin-bottom: 5px;
}*/

.modal__input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.modal__button {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.modal__button:hover {
    background-color: darkblue;
}

.btn-area {
    display: flex;
    justify-content: flex-end;
}

